<template>
  <require from="../pretty-results/pretty-results"></require>
  <style>
    /* these are used in the results table colors */
    .red {
      color: #ba0000;
    }

    .blue {
      color: #0000c9;
    }

    .ban {
      background-color: rgba(225, 0, 0, 0.1);
    }

    .pick {
      background-color: rgba(0, 200, 0, 0.1);
    }

    .status-text {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }

    .ready-status-text {
      display:flex;
      flex-direction: row;
      justify-content: flex-start;
      justify-items: flex-start;
    }
    .captain-status {
    }

    .champ-selector {
      width: 175px;
      height:25px;
    }
    .champ-lockin-button {
      height: 30px;
      width: 150px;
    }
    .vote-row {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
    }
  </style>

  <div if.bind="connecting">
    connecting to draft id ${draftCode}...
  </div>

  <div if.bind="connectionFailed">
    Connection failed, check code or draft is still running
  </div>

  <div class="m-1" if.bind="!connectionFailed && !connecting && draftState">
    <h6 if.bind="!isResults()">Draft '${draftState.setup.name}' on map ${draftState.setup.mapName}, Viewing as
      <strong>${getDraftStateName()}</strong>
      <a class="small" href.bind="getViewingLink()" if.bind="draftState" target="_blank">(Draft view link)</a>
      <div if.bind="snapshot && snapshot.draftDone">
        <a href.bind="getReportLink()" target="_blank">Download Draft Report</a>
      </div>
    </h6>

    <!--
    <div if.bind="false" class="status-text">
      <div>Blue team name: <strong class="blue">${draftState.setup.blueName}</strong></div>
      <div>Red team name: <strong class="red">${draftState.setup.redName}</strong></div>
      <div>Admin connected: ${snapshot.adminConnected ? 'TRUE' : 'FALSE'}</div>
      <div>Red connected: ${snapshot.redConnected ? 'TRUE' : 'FALSE'}</div>
      <div>Blue connected: ${snapshot.blueConnected ? 'TRUE' : 'FALSE'}</div>
    </div>
    -->

    <div if.bind="!isResults() && !snapshot.draftDone && !snapshot.draftStarted">
      <div class="ready-status-text m-1">
      <h6 class="m-1">Drafting will begin when both captains are ready: </h6>
        <button if.bind="isCaptain()" class="btn-sm btn-primary" click.trigger="sendReady()">READY</button>
        <div class="m-1">Red captain ready: <strong>${snapshot.redReady ? 'YES' : 'NO' }</strong></div>
        <div class="m-1">Blue captain ready: <strong>${snapshot.blueReady ? 'YES' : 'NO' }</strong></div>
      </div>

    </div>

    <div if.bind="!isResults() && snapshot.draftStarted && !snapshot.voteActive && !snapshot.draftDone">
      <h6>Pending next ban/pick... get ready</h6>
    </div>

    <div if.bind="snapshot.voteActive && !isResults()">
      <div class="vote-row m-2">

        <strong if.bind="!snapshot.voteUnlimitedTime">${snapshot.voteTimeLeftPretty} seconds left ..
          ${snapshot.votePaused ? '(PAUSED)' : ''}</strong>
        <span class.bind="snapshot.currentVote.phaseType">${snapshot.currentVote.phaseType == 'ban' ? 'BANNING' : 'PICKING'}</span>:

        <div class="status-text mr-1" if.bind="isAdmin()">
          <button class="btn btn-warning mr-1" click.trigger="togglePauseTimer()">${snapshot.votePaused ? 'Unpause' :
            'Pause'}
            vote
          </button>
          <button class="btn btn-danger mr-1" click.trigger="resetTimer()">Reset vote timer</button>
          <div class="mr-1">Red vote locked in ${snapshot.currentVote.redHasVoted ? 'YES' : 'NO' }</div>
          <div>Blue vote locked in ${snapshot.currentVote.blueHasVoted ? 'YES' : 'NO' }</div>
        </div>

        <select if.bind="isCaptain()" class="champ-selector m-1" disabled.bind="!lockinEnabled && !snapshot.votePaused" value.bind="selectedVoteValue">
          <option model.bind="'none'">Choose ..</option>
          <optgroup label="melee">
            <option disabled.bind="getChampDisabled(mc)" model.bind="mc.name" repeat.for="mc of validChampions.melee">
              ${mc.displayName}
            </option>
          </optgroup>
          <optgroup label="ranged">
            <option disabled.bind="getChampDisabled(mc)" model.bind="rc.name"
                    repeat.for="rc of validChampions.ranged">
              ${rc.displayName}
            </option>
          </optgroup>
          <optgroup label="support">
            <option disabled.bind="getChampDisabled(mc)" model.bind="sc.name"
                    repeat.for="sc of validChampions.support">
              ${sc.displayName}
            </option>
          </optgroup>
        </select>
        <button if.bind="isCaptain()" click.trigger="lockinVote()"
                disabled.bind="!lockinEnabled || selectedVoteValue == 'none'"
                class.bind="!lockinEnabled || selectedVoteValue == 'none' ? 'champ-lockin-button btn-secondary' : 'champ-lockin-button btn-primary'">
          Lock in
        </button>
      </div>
    </div>

    <compose view="pretty-results/pretty-results.html" view-model.bind="resultsViewer">
    </compose>

    <div if.bind="!isResults()" class="p-2">
      <h4>Draft table ${snapshot.draftDone ? '(FINISHED)' : ''}</h4>
      <table class="table table-sm">
        <thead class="thead-light">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Ban/pick</th>
          <th scope="col">Blue (${draftState.setup.blueName})</th>
          <th scope="col">Red (${draftState.setup.redName})</th>
          <th scope="col">Admin Adjusted?</th>
          <th if.bind="isAdmin()">Override</th>
        </tr>
        </thead>

        <tbody>

        <tr repeat.for="p of snapshot.phases" class.bind="p.phaseType">
          <th scope="row">${p.phaseNum + 1}</th>
          <th scope="row">${p.phaseType}</th>

          <td if.bind="!isAdmin()"><strong>${prettyVoteValue(p.voteBlueValue) || 'None'}</strong></td>
          <td if.bind="isAdmin()">
            <select value.bind="p.voteBlueValue">
              <option model.bind="none">(none)</option>
              <optgroup label="melee">
                <option model.bind="mc.name" repeat.for="mc of champions.melee">${mc.displayName}</option>
              </optgroup>
              <optgroup label="ranged">
                <option model.bind="rc.name" repeat.for="rc of champions.ranged">${rc.displayName}</option>
              </optgroup>
              <optgroup label="support">
                <option model.bind="sc.name" repeat.for="sc of champions.support">${sc.displayName}</option>
              </optgroup>
            </select>
          </td>

          <td if.bind="!isAdmin()"><strong>${prettyVoteValue(p.voteRedValue) || 'None'}</strong></td>
          <td if.bind="isAdmin()">
            <select value.bind="p.voteRedValue">
              <option model.bind="none">(none)</option>
              <optgroup label="melee">
                <option model.bind="mc.name" repeat.for="mc of champions.melee">${mc.displayName}</option>
              </optgroup>
              <optgroup label="ranged">
                <option model.bind="rc.name" repeat.for="rc of champions.ranged">${rc.displayName}</option>
              </optgroup>
              <optgroup label="support">
                <option model.bind="sc.name" repeat.for="sc of champions.support">${sc.displayName}</option>
              </optgroup>
            </select>
          </td>

          <td><input checked.bind="p.adminOverride" class="form-check-input" disabled="disabled" type="checkbox"></td>

          <td if.bind="isAdmin()">
            <button class="btn btn-danger btn-sm" click.trigger="overrideVote(p)">Override vote</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  </div>
</template>
