<template>
  <div if.bind="connecting">
    connecting to draft id ${draftCode}...
  </div>

  <div if.bind="connectionFailed">
    Connection failed, check code or draft is still running
  </div>

  <div if.bind="!connectionFailed && !connecting && draftState">
    <h3>Draft '${draftState.setup.name}' on map ${draftState.setup.mapName}</h3>
    <h3>Viewing as ${getDraftStateName()}</h3>

    <div>
      Red team name: <strong>${draftState.setup.redName}</strong>
      Blue team name: <strong>${draftState.setup.blueName}</strong>
    </div>
    <div>Admin connected: ${snapshot.adminConnected ? 'TRUE' : 'FALSE'}</div>
    <div>red captain connected: ${snapshot.redConnected ? 'TRUE' : 'FALSE'}</div>
    <div>blue captain connected: ${snapshot.blueConnected ? 'TRUE' : 'FALSE'}</div>
    <div># viewers: ${snapshot.resultsViewers}</div>

    <div if.bind="!snapshot.draftDone && !snapshot.draftStarted">
      <div>Red captain ready: <strong>${snapshot.redReady ? 'YES' : 'NO' }</strong></div>
      <div>Blue captain ready: <strong>${snapshot.blueReady ? 'YES' : 'NO' }</strong></div>
      <h4>Drafting will begin when both captains are ready</h4>
    </div>

    <div if.bind="isCaptain() && !snapshot.draftStarted">
      <button click.trigger="sendReady()">Ready</button>
      Voting will start once admin starts draft
    </div>

    <div if.bind="snapshot.draftStarted && !snapshot.voteActive && !snapshot.draftDone">
      <h4>Pending next ban/pick... get ready</h4>
    </div>

    <div if.bind="snapshot.voteActive">
      <h4>VOTING ACTIVE!</h4>
      <h2>${snapshot.currentVote.phaseType == 'ban' ? 'BANNING' : 'PICKING'} ... </h2>
      <strong>${snapshot.voteTimeLeftPretty} seconds left .. ${snapshot.votePaused ? '(PAUSED)' : ''}</strong>
      <div if.bind="isAdmin()">
        <button click.trigger="togglePauseTimer()">${snapshot.votePaused ? 'Unpause' : 'Pause'} vote</button>
        <button click.trigger="resetTimer()">Reset vote timer</button>
      </div>

      <div>Red vote locked in ${snapshot.currentVote.redHasVoted ? 'YES' : 'NO' }</div>
      <div>Blue vote locked in ${snapshot.currentVote.blueHasVoted ? 'YES' : 'NO' }</div>

      <div show.bind="isCaptain()">
        <select disabled.bind="!lockinEnabled && !snapshot.votePaused" value.bind="selectedVoteValue">
          <option model.bind="none">Choose ..</option>
          <optgroup label="melee">
            <option repeat.for="mc of validChampions.melee" model.bind="mc.name">${mc.displayName}</option>
          </optgroup>
          <optgroup label="ranged">
            <option repeat.for="rc of validChampions.ranged" model.bind="rc.name">${rc.displayName}</option>
          </optgroup>
          <optgroup label="support">
            <option repeat.for="sc of validChampions.support" model.bind="sc.name">${sc.displayName}</option>
          </optgroup>
        </select>
        <button click.trigger="lockinVote()" disabled.bind="selectedVoteValue == 'none' || !lockinEnabled">
          Lock in
        </button>
      </div>
    </div>

    <div if.bind="isAdmin() && draftState">
      admin vote override:
      <div class="admin-override" repeat.for="p of votesCopy">
        <span>Phase #${p.phaseNum + 1}</span>

        Change <strong>Red</strong> vote:
        <select value.bind="p.voteRedValue">
          <option model.bind="none">(none)</option>
          <optgroup label="melee">
            <option model.bind="mc.name" repeat.for="mc of validChampions.melee">${mc.displayName}</option>
          </optgroup>
          <optgroup label="ranged">
            <option model.bind="rc.name" repeat.for="rc of validChampions.ranged">${rc.displayName}</option>
          </optgroup>
          <optgroup label="support">
            <option model.bind="sc.name" repeat.for="sc of validChampions.support">${sc.displayName}</option>
          </optgroup>
        </select>
        Change <strong>Blue</strong> vote:
        <select value.bind="p.voteBlueValue">
          <option model.bind="none">(none)</option>
          <optgroup label="melee">
            <option model.bind="mc.name" repeat.for="mc of validChampions.melee">${mc.displayName}</option>
          </optgroup>
          <optgroup label="ranged">
            <option model.bind="rc.name" repeat.for="rc of validChampions.ranged">${rc.displayName}</option>
          </optgroup>
          <optgroup label="support">
            <option model.bind="sc.name" repeat.for="sc of validChampions.support">${sc.displayName}</option>
          </optgroup>
        </select>
        <button click.trigger="overrideVote(p)">Override Phase vote</button>
      </div>
    </div>

    <hr>
    <div>
      <h4>Draft results </h4>
      <div repeat.for="p of snapshot.phases">
        vote# (${p.phaseNum + 1}) - ${p.phaseType}:
        <span>Red: <strong>${prettyVoteValue(p.voteRedValue) || 'DID NOT VOTE!'}</strong></span>
        <span>Blue: <strong>${prettyVoteValue(p.voteBlueValue) || 'DID NOT VOTE!'}</strong></span>
        ${p.adminOverride? '(Admin override)' : ''}
      </div>
    </div>
  </div>
</template>
